<section>
    <md-toolbar class="md-whiteframe-4dp">
        <div class="md-toolbar-tools" layout="row">
            <div layout="row" layout-align="space-between center" flex="33">
                <md-button ng-show="userId != null" ng-click="openSideNav()" class="md-icon-button">
                    <i class="material-icons">&#xE5D2;</i>
                </md-button>
            </div>
            <div layout="row" layout-align="center center" flex="33">
                <div ui-sref="landing" class="navbar-button" layout="row" layout-align="center center">
                    <img class="app-icon" src="/images/journey-icon-circle.png" />
                    <p class="app-name">journey</p>
                </div>
            </div>
            <div layout="row" layout-align="end center" flex="33">
                <md-button ng-show="userId != null" ui-sref="create" hide-xs>Create Journey</md-button>
            </div>
            <div flex></div>
        </div>
    </md-toolbar>
    <!-- side nav menu -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" layout="column" layout-fill>
        <md-toolbar ui-sref="profile({id: {{userId ? userId : defaultUserId}}})" class="md-tall md-whiteframe-4dp" layout="row" layout-align="space-between end" layout-padding flex>
            <span class="title-username">{{userName ? userName : defaultUserName}}</span>
            <img alt="person name" ng-src="{{userSource ? userSource : defaultUserPic}}" class="img-user img-circle" />
        </md-toolbar>
        <md-content layout="column" layout-align="space-between stretch" flex="90">
            <md-list flex>
                <md-list-item ui-sref="home">
                    <i class="material-icons list-item-icon">&#xE88A;</i>
                    <p>Home</p>
                </md-list-item>
                <md-list-item ui-sref="friends">
                    <i class="material-icons list-item-icon">&#xE7FB;</i>
                    <p>Friends</p>
                </md-list-item>
                <md-list-item ui-sref="profile">
                    <i class="material-icons list-item-icon">&#xE7FD;</i>
                    <p>My Profile</p>
                </md-list-item>
                <md-list-item ui-sref="journeys({userId: userId})">
                    <i class="material-icons list-item-icon">&#xE55B;</i>
                    <p>My Journeys</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="logout()">
                    <i class="material-icons list-item-icon">&#xE879;</i>
                    <p>Logout</p>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <md-list>
                <md-divider></md-divider>
                <md-list-item ui-sref="policy">
                    <p>Privacy Policy</p>
                </md-list-item>
                <md-list-item ui-sref="terms">
                    <p>Terms of Service</p>
                </md-list-item>
                <md-list-item ui-sref="credits">
                    <p>Credits</p>
                </md-list-item>
                <md-subheader class="md-no-sticky"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fjourneysapp%2F%3Ffref%3Dts&width=300&layout=standard&action=like&size=large&show_faces=false&share=false&height=35&appId=327010674354140" width="250" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				©2016 journey</md-subheader>
            </md-list>
        </md-list>
    </md-content>
</md-sidenav>
</section>
