md-toolbar {
  background: white !important;
}

.md-toolbar-tools {
  padding: 0px !important;
  color: black !important;
}

md-sidenav md-content, md-list {
  background: #e5e5e5;
}

.app-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.app-name {
  font-family: 'Dosis', sans-serif;
  font-weight: 600 !important;
  font-size: 28px !important;
  color: #09a6c8;
}

.title-username {
  font-size: 14px;
  padding-left: 8px;
  color: black !important;
}

.navbar-button {
    cursor: pointer;
}
