.home-container {
    margin-top: 10px;
}

.home-post {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-post-img-overlay {
    height: 130px;
    background: none;
}

.home-post-user-container {
    margin-right: 20px;
    margin-bottom: -40px;
}

.home-post-title {
    padding: 15px;
    background-color: white;
    color: black;
}

.post-user {
    margin-top: 45px;
    margin-right: 10px;
}

.img-post-user {
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin-top: 5px;
    border: 2px solid white;
}

.post-divider {
    height: 20px;
}
