.post {
    height: 300px;
}

.post-user {
    text-align: center;
}

.img-post-user {
    height: 60px;
    width: 60px;
    margin-top: 5px;
}

.img-cover {
    height: 200px;
    object-fit: cover;
}

md-card-actions {
    margin-top: -20px !important;
}
