<md-content class="scroll-container" layout="row" layout-align="center start" layout-wrap>
    <div ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(/images/friends-spread.jpg)'}" class="img-overlay img-subheader mid" layout="column" layout-align="center center" flex="100">
        <h2 class="md-display-2">Friends</h2>
    </div>
    <div ng-show="{{friends.length === 0}}" layout="column" layout-align="start center" layout-wrap flex="100">
        <img class="img-static" src="/images/invite.png">
        <p class="static-text" layout-padding>Oops, none of your friends are using Journey.</p>
    </div>
    <div class="friends-container" layout="column" layout-align="start stretch" flex-xs="95" flex-gt-xs="70">
        <div class="friend-search-bar-container" layout="row" layout-align="space-between center">
            <div class="friend-search-bar-wrap md-whiteframe-1dp" layout-fill>
                <input type="search" ng-model="searchQuery" class="friend-search-bar" placeholder="Search friends...">
            </div>
        </div>
        <div layout="row" layout-align="start center" layout-fill layout-wrap>
            <md-card ng-repeat="friend in friends | searchFriends:searchQuery track by $index " flex="100" flex-sm="45" flex-gt-sm="30" ui-sref="profile({userId: friend.id})">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{friend.name ? friend.name : defaultUserName}}</span>
                        <span class="md-subhead"></span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img class="img-cover" src="{{friend.source ? friend.source : defaultUserPic}}" layout-fill/>
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </div>
    </div>
</md-content>
