
input[type=search] {
    -webkit-appearance: textfield;
}

.friend-search-bar-container {
    margin-bottom: 20px;
}

.friend-search-bar-wrap {
    background-color: white;
    display: -webkit-box;
display: -webkit-flex;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
flex-direction: row;
box-sizing: border-box;
position: relative;
overflow: visible;
height: 40px;
}

.friend-search-bar {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
}
