.country-header {
    margin-top: 15px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.country-header-name {
    padding-left: 15px;
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    /*background:rgba(0,0,0,0.5);*/
    border-radius: 5px;
}

.subheader {
    margin: 20px 0px 10px 0px;
    font-size: 18px;
    font-weight: 500;
}

.subheader-content {
    padding: 10px;
    background-color: white;
}

.places-footer {
    padding-left: 10px;
    background: none !important;
    color: white !important;
    font-size: 20px;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.img-cover {
    object-fit: cover;
}

#places-container {
    margin-bottom: 15px;
}

.post {
    margin-bottom: 15px;
}

.friends-footer {
    padding-left: 0px;
    background: none !important;
    color: white !important;
    font-size: 8px !important;
    font-weight: 500 !important;
}
