<section id="country">
	<div layout="row" layout-align="center start" layout-fill layout-wrap>
		<div ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url({{country.source}})'}" class="img-overlay country-header mid" layout="column" layout-align="center center" layout-fill>
			<h2>{{country.name}}</h2>
		</div>
		<!-- country header -->
		<div layout="column" flex="80">
			<div layout="row" layout-align="space-between start">
				<div layout="column" layout-align="start start" flex="65">
					<!-- posts -->
					<div class="subheader">Posts</div>
					<md-card ng-repeat="friend in country.friends" class="post" layout-fill>
						<md-card-header>
							<md-card-avatar>
								<img class="md-user-avatar" src="{{friend.source}}" layout-fill/>
							</md-card-avatar>
							<md-card-header-text>
								<span class="md-title">{{friend.name}}</span>
								<span class="md-subhead">19 Aug 2016</span>
							</md-card-header-text>
						</md-card-header>
						<md-card-content>
								The titles of Washed Out's breakthrough song and the first single from Paracosm share the
								two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
						</md-card-content>
						<img ng-src="{{friend.source}}" class="md-card-image img-cover" alt="Washed Out" flex>

						<md-card-actions layout="row" layout-align="end center">
							<md-button class="md-icon-button" aria-label="Like">
								<i class="material-icons">thumb_up</i>
							</md-button>
							<md-button class="md-icon-button" aria-label="Comment">
								<i class="material-icons">comment</i>
							</md-button>
							<md-button class="md-icon-button" aria-label="Share">
								<i class="material-icons">share</i>
							</md-button>
						</md-card-actions>
					</md-card>
				</div>
				<div layout="column" layout-align="start start" flex="30">
					<!-- friends -->
					<div class="subheader">Friends</div>
					<md-card class="subheader-content" layout-fill>
					<md-grid-list md-cols="5" md-row-height="1:1" md-gutter="8px" layout-fill>
						<md-grid-tile ng-repeat="friend in country.friends">
							<img class="img-cover" src="{{friend.source}}" layout-fill/>
							<md-tooltip md-direction="top">
								{{friend.name}}
							</md-tooltip>
						</md-grid-tile>
					</md-grid-list>
					<br>
					<div>
						Want to see more? <br>Invite your friends to Journey!
					</div>
				</md-card>
				</div>
			</div>
		</div>

	</div>


</section>
