.places-footer {
    padding-left: 10px;
    background: none !important;
    color: white !important;
    font-size: 20px;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.img-cover {
    object-fit: cover;
}

#places-container {
    margin-bottom: 15px;
}

.post {
    margin-bottom: 15px;
}

.friends-footer {
    padding-left: 0px;
    background: none !important;
    color: white !important;
    font-size: 8px !important;
    font-weight: 500 !important;
}
