.country-header {
    margin: 15px 0px 15px 0px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.country-header-name {
    padding-left: 15px;
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    /*background:rgba(0,0,0,0.5);*/
    border-radius: 5px;
}

.subheader {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.img-friend {
    object-fit: cover;
}

#places-container {
    margin-left: -5px;
    margin-right: 5px;
}

.places-subtitle {
    height: 25px;
}
