<md-content class="scroll-container">
    <div ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(/images/journeys-spread.jpg)'}" class="img-overlay img-subheader mid" layout="column" layout-align="center center">
        <h2>My Journeys</h2>
    </div>
    </div>
    <div class="journeys-container" layout="row" layout-align="center start">
        <div layout="row" layout-align="start center" layout-wrap flex-xs="100" flex-sm="80" flex="70"  >
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols="3" md-gutter="0px" md-gutter-gt-xs="10px" md-row-height-xs="2:1" md-row-height-sm="2:2" md-row-height-gt-sm="3:3" layout-fill>
                <md-grid-tile ng-click="goToJourney(journey.id)" ng-repeat="journey in journeys" ng-style="{'background-image':'url({{journey.source ? journey.source : defaultCoverUrl}})'}" class="img-overlay">
                    <div class="journey-tile-info" flex-offset="10" flex="80">
                        <h2>{{journey.name ? journey.name : defaultJourneyTitle}}</h2>
                        <p>From {{ journey.posts[0].created }} to 
                                {{ journey.posts[journey.posts.length-1].created }} </p>
                        <p>{{ journey.posts.length }} post(s)</p>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!-- GOOGLE ANALYTICS SCRIPT -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83429327-1', 'auto');
  ga('send', 'pageview');

    </script>
    <!-- END OF SCRIPT -->

</md-content>
