<section>
    <div ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(/images/journeys-spread.jpg)'}" class="img-overlay img-subheader mid" layout="column" layout-align="center center" layout-fill>
        <h2>My Journeys</h2>
    </div>
    </div>
    <div class="journeys-container" layout="row" layout-align="center start">
        <div layout="row" layout-align="start center" layout-wrap flex-xs="100" flex-sm="80" flex="70"  >
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols="3" md-gutter="0px" md-gutter-gt-xs="10px" md-row-height-xs="2:1" md-row-height-sm="2:2" md-row-height-gt-sm="3:3" layout-fill>
                <md-grid-tile ng-click="goToJourney(journey.id)" ng-repeat="journey in journeys" ng-style="{'background-image':'url({{journey.coverUrl ? journey.coverUrl : defaultCoverUrl}})'}" class="img-overlay">
                    <div class="journey-tile-info" flex-offset="10" flex="80">
                        <h2>{{journey.title ? journey.title : defaultJourneyTitle}}</h2>
                        <p>10-19 Aug 2016</p>
                        <p>19 posts</p>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</section>
