.image-spread-container {
    height: 400px;
    margin-bottom: 15px;
    background-image: url('http://dl.dropboxusercontent.com/s/9x8tfh5hy8go4wk/landing-photo.jpg?dl=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-spread, .image-feature {
    object-fit: cover;
}

.image-spread-text {
    color: white;
    font-size: 24px;
    text-align: center;
}

.image-spread-header {
    font-weight: 600;
    font-size: 52px;
}

.btn-login {
    padding: 0 10px 0 10px;
    background-color: #3b5998;
    color: white;
    font-family: 'Roboto', sans-serif;
}
