.user-container {
    margin-top: -70px;
    margin-bottom: 30px;
}

.img-profile-user {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.profile-user-name {
    margin: 0px;
    margin-left: 15px;
}
