<md-content class="scroll-container">
    <div layout="row" layout-align="center start" layout-wrap>
        <div ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url({{user.coverSrc ? user.coverSrc : defaultCoverUrl}})'}" class="img-overlay img-subheader mid" layout="column" layout-align="center center" layout-fill>
        </div>
    </div>
    <div class="user-container" layout="row" layout-align="center start">
        <div layout="row" layout-align="start end" flex-xs="100" flex-sm="80" flex="70"  >
            <img ng-src="{{user.profileSrc ? user.profileSrc : defaultUserPic}}" class="md-whiteframe-4dp img-profile-user img-circle" />
            <h2 class="profile-user-name">{{user.name ? user.name : defaultUserName}}</h2>
        </div>
    </div>
    <div ng-show="{{journeys.length === 0}}" layout="row" layout-align="center start" layout-wrap flex="100">
        <img class="img-static" src="/images/travel.png" flex="100">
        <p class="static-text" flex="90">Oops, {{user.name ? user.name : defaultUserName}} hasn't created any journeys yet.</p>
    </div>
    <div ng-show="{{journeys.length > 0}}" class="journeys-container" layout="row" layout-align="center start">
        <div layout="row" layout-align="start center" layout-wrap flex-xs="100" flex-sm="80" flex="70"  >
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols="3" md-gutter="0px" md-gutter-gt-xs="10px" md-row-height-xs="2:1" md-row-height-sm="2:2" md-row-height-gt-sm="3:3" layout-fill>
                <md-grid-tile ng-click="goToJourney(journey.id)" ng-repeat="journey in journeys" ng-style="{'background-image':'url({{journey.coverUrl ? journey.coverUrl : defaultCoverUrl}})'}" class="img-overlay">
                    <div class="journey-tile-overlay" layout="row" layout-align="center start" flex="100" layout-fill>
                    </div>
                    <md-grid-tile-footer class="journey-tile-info" layout="column" layout-align="center center" flex="100">
                        <h2>{{journey.name ? journey.name : defaultJourneyTitle}}</h2>
                        <p>From {{ journey.posts[0].created }} to
                            {{ journey.posts[journey.posts.length-1].created }} </p>
                            <p>{{ journey.posts.length }} post(s)</p>
                        </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</md-content>
