<section layout="row" layout-align="center stretch" layout-wrap>
    <div layout="row" layout-align="center start" layout-wrap flex="100" hide-gt-xs>
        <img class="img-static" src="/images/oops.png" flex="100">
        <p class="static-text" flex="90">Oops, you can't create journeys on mobile. Try it out on a tablet or a desktop computer instead!</p>
    </div>
    <div layout-wrap flex="75"  hide-xs>
        <div class="create-date-range-container" layout="row" layout-align="space-between end" flex="100">
            <div layout="row">
                <div class="create-date-container">
                    <label>Display posts from </label>
                    <md-datepicker ng-model="startDate" md-max-date="todayDate" md-placeholder="Select date" md-open-on-focus></md-datepicker>
                </div>
                <div class="create-date-container">
                    <label>to</label>
                    <md-datepicker ng-model="endDate" md-min-date="startDate" md-max-date="todayDate" md-placeholder="Select date" md-open-on-focus></md-datepicker>
                </div>
            </div>
            <div layout="row" layout-align="start center" layout-padding>
                <i class="material-icons">&#xE5CA;</i> {{selectedPostCount}} posts selected
            </div>
        </div>
        <md-content class="post-scroll-container" layout="row" layout-align="start start" layout-wrap>
            <md-card ng-repeat="post in posts | countryPost:getSelectedCountryNames()" ng-click="updatePostStatus(post)" ng-show="post.isVisible" ng-class="{'create-post-selected' : post.isSelected}" class="create-post" flex-sm="45" flex="30">
                <div layout="row" layout-align="center center">
                    <img ng-src="{{post.source ? post.source : defaultPostPic}}" class="md-card-image img-cover" flex>
                </div>
                <md-card-content>
                    {{$index}} The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </md-card-content>
            </md-card>
        </md-content>
    </div>
    <div class="create-filter-container" flex="25" hide-xs sticky>
        <div class="create-actions-container" layout-sm="column" layout="row" layout-align="center center">
            <md-button ng-disabled="journeyName === '' || selectedPostCount < 1" class="md-raised md-primary" flex="100">Done</md-button>
        </div>
        <div class="input-container">
            <md-input-container class="md-block">
                <label>Journey Name</label>
                <input ng-model="journey.name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Cover Photo Country</label>
                <md-select placeholder="Cover Photo" ng-model="journeyCoverCountry" ng-change="getJourneyCoverPhoto()">
                    <md-option ng-value="country.name" ng-repeat="country in countries">
                        {{country.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div class="img-select-option-container">
                <img class="img-select-option" ng-src="{{journeyCoverPhoto}}" layout-fill>
            </div>
        </div>
        <md-list>
            <md-subheader class="md-no-sticky">Filter by Country</md-subheader>
            <md-list-item ng-repeat="country in countries">
                <p> {{ country.name ? country.name : 'Singapore'}} </p>
                <md-checkbox class="md-primary" ng-model="country.selected"></md-checkbox>
            </md-list-item>
        </md-list>
    </div>
</section>
