.post-scroll-container {
    height: 100vh;
    position: relative;
}

.create-post {
    border: 5px solid white;
    outline: none;
}

.create-post-selected {
    border: 5px solid #09a6c8;
    outline: none;
}

.create-post-selected:focus {
    outline: none;
}

.create-date-range-container {
    height: 63px;
    margin: 0;
    background-color: white;
        border-bottom: 5px solid #D9D9D9;
}

.create-date-container {
    margin-left: 10px;
}

.create-filter-container {
    background-color: white;
}

.create-filter-container md-list {
    background: none !important;
}

.create-actions-container {
    background-color: white;
    padding: 5px 0 5px 0;
    border-bottom: 5px solid #D9D9D9;
}

.input-container {
    padding: 10px;
}

md-input-container {
    margin-bottom: 0;
}

.img-select-option {
    height: 100px;
    object-fit: cover;
}

.datepicker-container {
    padding-left: 16px;
}

.background-dark {
    background-color: slategray;
}
